/**
 * FlatKit variables
 */

$full-black:  		rgba(0, 0, 0, 1) !default;
$dark-black:  		rgba(0, 0, 0, 0.87) !default;
$light-black: 		rgba(0, 0, 0, 0.54) !default;
$min-black:   		rgba(0, 0, 0, 0.065) !default;

$grey:              #424242 !default;

$full-white:  		rgba(255, 255, 255, 1) !default;
$dark-white:  		rgba(255, 255, 255, 0.87) !default;
$light-white: 		rgba(255, 255, 255, 0.54) !default;
$min-white:   		rgba(255, 255, 255, 0.1) !default;

$color-percent:           2.5% !default;
$color-lt-percent:        2.5% !default;
$color-dk-percent:        3.5% !default;

$label-bg:                       darken($dark-white, 25%) !default;

$navbar-height:                  3.5rem !default;
$navbar-md-height:				 4rem !default;
$navbar-sm-height:               3rem !default;

$nav-icon-color:                 inherit !default;

$aside-width:                    14.5rem !default;
$aside-lg-width:                 15.75rem !default;
$aside-sm-width:                 13.25rem !default;

$aside-folded-width:             4rem !default;
$aside-folded-md-width:          5rem !default;
$aside-nav-height:               2rem !default;
$aside-nav-folded-height:        2.3rem !default;
$aside-nav-sub-height:           1.8rem !default;
$aside-nav-stacked-height:       1.8rem !default;

$footer-height:					 3.125rem !default;

/**
 * Bootstrap Variables
 */

// Color system

$black:				#2a2b3c !default;
$white:				#ffffff !default;
$primary:           #03A9F4 !default;
$secondary:         #F2F2F2 !default;
$accent:            #ba68c8 !default;
$warn:              #FFC107 !default;
$info:              #ba68c8 !default;
$success:           #44be42 !default;
$warning:           #FFC107 !default;
$danger:            #f44455 !default;

$light:             #f8f8f8 !default;
$dark:              #2e3e4e !default;

// Options

$enable-shadows:	true !default;
$enable-hover-media-query: true !default;
$enable-rounded: false !default;

// Body

$body-bg:       	#f0f0f0 !default;
$body-color:        $dark-black !default;

// Links

$link-hover-color:                        inherit !default;
$link-hover-decoration:                   none !default;

// Components

$border-color:	 	rgba(120, 130, 140, 0.10) !default;

// Typography

$text-muted:        $light-black !default;
$font-family-serif:         Georgia, "Times New Roman", Times, serif !default;
$font-family-sans-serif: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !default;

$font-size-base:          	 0.875rem !default;

$font-size-lg:            	1.5rem !default;
$font-size-md:              1.125rem !default;
$font-size-sm:            	0.80rem !default;
$font-size-xs:            	0.75rem !default;

// Table

$table-accent-bg:             rgba(0, 0, 0, 0.03) !default;

// Buttons + Forms

$input-btn-padding-y:         .35rem !default;
$input-btn-padding-x:         .65rem !default;

$input-btn-focus-width:       .1rem !default;

// Buttons

$btn-font-weight:             500 !default;
$btn-box-shadow:              inset 0 0 0, 0 0 0 !default;

// Forms

$input-placeholder-color:     rgba(0, 0, 0, 0.3) !default;

// Tables

$table-border-color: rgba(0, 0, 0, 0.03) !default;

// Modal

$modal-lg: 950px !default;

/**
 * Umbrella variables
 */

$aside-bg: $dark !default;


/**
 * Trucs qui servent à rien (mais on laisse au cas où)
 */

$arrow-width:         			 8px !default;
$arrow-outer-color:              $border-color !default;

$switch-width:                   32px !default;
$switch-height:                  18px !default;
$switch-md-width:                40px !default;
$switch-md-height:               24px !default;
$switch-lg-width:                50px !default;
$switch-lg-height:               30px !default;

$ui-check-size:                  16px !default;
$ui-check-md-size:               18px !default;
$ui-check-lg-size:               30px !default;
$ui-check-sign-size:             6px !default;
$ui-check-sign-color:            $primary !default;
$ui-check-checked-border:        $border-color !default;

