@mixin color-variant($color) {

  color: color-yiq($color);
  background-color: $color;

  .lt {
    background-color: lighten($color, $color-percent);
  }

  .dk {
    background-color: darken($color, $color-percent);
  }

  .bg {
    background-color: $color;
  }

}

.lter {
  background-color: rgba(255, 255, 255, 0.035);
}

.dker {
  background-color: rgba(0, 0, 0, 0.035);
}

.light {
  background-color: $light;
}

.white {
  background-color: #fff;
}

.dark-white {
  color: $dark-black;
  background-color: #fff;
}

.black {
  @include color-variant($black);
}

.dark {
  @include color-variant($dark);
}

.grey {
  @include color-variant($grey);
}

.primary {
  @include color-variant($primary);
}

.accent {
  @include color-variant($accent);
}

.warn {
  @include color-variant($warn);
}

.success {
  @include color-variant($success);
}

.info {
  @include color-variant($info);
}

.warning {
  @include color-variant($warning);
}

.danger {
  @include color-variant($danger);
}

.blue {
  @include color-variant($blue);
}

.white-overlay {
  background-color: rgba(255, 255, 255, 0.85);
}

.black-overlay {
  background-color: rgba(0, 0, 0, 0.85);
}

.gd-overlay {
  background-color: transparent !important;
  @include gradient-y(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.bg-auto {
  &:before {
    content: "";
    position: absolute;
    width: inherit;
    top: 0;
    bottom: 0;
    background-color: inherit;
    border: inherit;
  }
  &.b-l:before {
    margin-left: -1px;
  }
  &.b-r:before {
    margin-right: -1px;
  }
}

.bg-clip {
  background-clip: padding-box;
}

.no-bg {
  background-color: transparent !important;
}

@media (max-width: 767px) {
  .no-bg-xs {
    background-color: transparent;
  }
}
