.notification-component {
  & > button {
    background-color: inherit;
  }

  .icon-notification-container {
    position: relative;
    width: 40px;
    height: 40px;

    i, span {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
    }

    .icon-running {
      font-size: 4px;
      display: none;
    }

    .icon-notification {
      margin-top: 0.6rem;
      font-size: 1.2rem;
      color: white;
    }

    .icon-bg {
      font-size: 2.5rem;
      color: $primary;
    }

    span {
      line-height: 2.5rem;
      color: white;
      font-weight: bold;
      display: none;
    }

  }

  .dropdown-menu {
    padding: 0;
    min-width: 420px !important;

    .dropdown-content-header {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 1rem;
      border-top-left-radius: .125rem;
      border-top-right-radius: .125rem;

      .seen-url {
        display: none;
      }
    }

    .dropdown-content-body {

      &.dropdown-scrollable {
        max-height: 340px;
        overflow-y: auto;
      }
    }

    .dropdown-content-footer {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding: .75rem 1.25rem;
      border-top: 1px solid #ddd;
      border-bottom-right-radius: .125rem;
      border-bottom-left-radius: .125rem;

      a:hover, a:focus {
        background-color: #f8f8f8 !important;
      }
    }

  }
}

.notification-list {
  list-style: none;
  padding: 0 0.3rem;
  margin-bottom: 0;

  .notification {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 0.3rem;
    padding: 0.5rem 1.25rem;

    &.animate-unseen-bg {
      transition: background 1s linear;
      background-color: rgba(0, 0, 0, 0.05);
    }

    &.unseen-bg {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .notification-icon {
      margin-right: 0.5rem;
      font-size: 18px;
      display: flex;
      padding-top: 0.2rem;
    }

    .notification-title {
      margin-bottom: .125rem;
    }

    .notification-body {
      flex: 1;

    }
  }
}

.notification-spinner, .notification-spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.notification-spinner {
  font-size: 1.5px;
  position: relative;
  text-indent: -9999em;

  &.clr-list {
    border-top: 1.1em solid rgba(3, 169, 244, 0.2);
    border-right: 1.1em solid rgba(3, 169, 244, 0.2);
    border-bottom: 1.1em solid rgba(3, 169, 244, 0.2);
    border-left: 1.1em solid #03a9f4;
  }

  &.clr-header {
    border-top: 1.1em solid #03A9F4;
    border-right: 1.1em solid #03A9F4;
    border-bottom: 1.1em solid #03A9F4;
    border-left: 1.1em solid #2E3E4E;
  }

  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: notification-spin 1.1s infinite linear;
  animation: notification-spin 1.1s infinite linear;
}
@-webkit-keyframes notification-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes notification-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}