.badge {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .25em;
  background-image: none;
  padding: .5833em .833em;
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  transition: background .1s ease;

  &.badge-md {
    padding: 0.35em 0.5em;
  }

  &.badge-sm {
    padding: 0.25em 0.4em;
  }
}