.badge {
  display: inline-flex;
  align-items: center;

  i {
    margin-right: .15em;
  }

}

@each $color, $value in $theme-colors {

  .badge-#{$color} {
    @include gradient-bg($value);
  }

  .badge-feather-#{$color} {
    background: rgba($value, .2);
    color: mix($body-color, $value, 20%)
  }

}

@each $color, $value in $colors {

  .badge-#{$color} {
    @include gradient-bg($value);
    color: color-yiq($value);
  }

  .badge-feather-#{$color} {
    background: rgba($value, .2);
    color: mix($body-color, $value, 20%)
  }

}