.card {
  @include box-shadow($box-shadow);
  overflow: hidden;
  margin-bottom: 1rem;

  &.borderless {
    border: none;
    box-shadow: none;
  }

  .card-header {
    background-color: $white;
    font-weight: 600;
    color: $gray-600;
    font-size: .85rem;
    display: flex;
    align-items: center;
    position: relative;

    h2,
    h3,
    h4 {
      color: initial;
      margin-bottom: 0;
    }

  }

  .card-body {

    .table-container,
    .datatable-container {
      box-shadow: 0 0 0;
      border: 1px solid $gray-100;
    }

  }

  .card-footer {
    display: flex;
    align-items: center;
    background-color: $white;
  }

  .card-leading {
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    i.big {
      font-size: 4em;
      margin-bottom: .5rem;
    }

    h3 {
      flex-direction: column;
      font-weight: 700;
      font-size: .875rem;
      margin-bottom: .5rem;
      text-align: center;

      small {
        display: block;
        font-weight: 400;
        color: $gray-500;
        font-size: .8125rem;
        padding-top: .15rem;
      }

    }

    &:after {
      content: '';
      height: 1px;
      width: 220px;
      margin: 0 auto;
      background-color: rgba($black, .075);
    }

  }

  &.hover:hover,&.selected {
    box-shadow: 0 2px 5px 0 rgba($primary, 0.3) !important;
    cursor: pointer;

    .card-header {
      color: black;
    }
  }

}