.modal {
  background-color: transparent;

  .modal-header {
    h4 {
      color: $black;

      > i.material-icons {
        color: $primary;
        margin-right: .4em;
        font-size: 1.6875em;
      }
    }
  }
}