.nav {

  .nav-link {
    i {
      color: $primary;
    }
  }

  &.flex-column {

    .nav-item {
      border-bottom: 1px solid $border-color;

      .nav-link {

        &.active {
          font-weight: 600;
          color: $primary;
        }

      }

      &:last-child {
        border: 0;
      }

    }

  }

}

.nav-tabs {

  .nav-link {
    border-bottom: 3px solid $gray-100;
    transition: all ease .3s;

    &:hover,
    &.active {
      border-bottom-color: $gray-200;
    }

    &.active {
      border-bottom-color: $primary;
      font-weight: 600;
    }

  }

}

.navside {
  border: inherit;
  background-color: $aside-bg;
  color: color-yiq($aside-bg);

  ul{
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    display: block;
  }
  [flex]{
    overflow: auto;
  }
  .nav {
    border: inherit;
    li {
      border: inherit;
      position: relative;
      li {
        a {
          line-height: $aside-nav-sub-height;
          padding-left: 3.5rem;
          .nav-text{
            padding: ($aside-nav-sub-height - 1.125)/2 0;
          }
        }
        li a{
          padding-left: 4.5rem;
        }
        li li a{
          padding-left: 5.5rem;
        }
      }
      a{
        @include clearfix();
        display: block;
        padding: 0 1rem;
        line-height: $aside-nav-height;
        position: relative;
        &:hover,
        &:focus{
          background-color: $min-black;
        }
      }
      &.active{
        background-color: $min-black;
        > a {
          background-color: transparent;
          .nav-caret i{
            @include rotate(180deg);
          }
        }
      }
    }
  }
  .nav-header{
    padding: 0 1rem;
    line-height: $aside-nav-height;
    &:hover,
    &:focus{
      background-color: transparent !important;
    }
    &:after{
      display: none;
    }
  }
  .navbar-brand{
    float: none;
    margin-right: 0;
  }
}

.nav-fold{
  padding: 0.75rem 1rem;
  position: relative;
}

.nav-text{
  display: block;
  line-height: 1.125rem;
  padding: ($aside-nav-height - 1.125)/2 0;
  .nav > li > a & {
    font-weight: 500;
  }
  span,
  small{
    display: block;
  }

  .navside &{
    opacity: 0.75;
  }
  .navside a:hover > &,
  .navside a:focus > &,
  .navside .active > a > &{
    opacity: 1;
  }
  .navbar & {
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    padding: 0;
    span.text-xs{
      margin-top: 0.25rem;
    }
  }
}

.nav-icon {
  float: left;
  line-height: inherit;
  margin-right: 1rem;
  top: 0;
  min-width: 1.5rem;
  text-align: center;
  i{
    color: $nav-icon-color;
    position: relative;
    svg,
    img{
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .navbar & {
    margin-right: 0.5rem;
  }
}

.nav-label{
  float: right;
  margin-left: 1rem;
  font-style: normal;
  z-index: 1;

  .navbar & {
    margin-left: 0.5rem;
  }
}

.nav-caret{
  float: right;
  margin-left: 1rem;
  opacity: 0.45;
  i{
    @include transition(transform 0.3s ease-in-out);
  }

  .navbar & {
    margin-left: 0.5rem;
  }
}

.nav-sub{
  max-height: 0;
  overflow: hidden;
  @include transition(max-height 0.4s ease 0s);
  .active > &{
    max-height: 50rem;
  }
}

.navside.sm {

  .nav-header {
    line-height: 1.75rem;
  }

  .nav li a {
    line-height: 1.9rem;

    .nav-text {
      padding: 0.4rem 0;
    }

  }

  .nav-fold {
    padding: 0.5rem 1rem;

    img {
      width: 37px;
      height: 37px;
      line-height: 37px;
    }
  }

}

.navside.xs {

  .nav-header {
    line-height: 1.75rem;
  }

  .nav li a {
    line-height: 1.7rem;

    .nav-text {
      padding: 0.3rem 0;
    }

  }

  .nav-fold {
    padding: 0.5rem 1rem;

    img {
      width: 37px;
      height: 37px;
      line-height: 37px;
    }
  }

}

@include media-breakpoint-up(lg){
  .folded {
    &,
    .scroll{
      width: $aside-folded-width;
    }
    &.md{
      &,
      .scroll{
        width: $aside-folded-md-width;
      }
    }
    .hidden-folded{
      display: none;
    }
    .nav li ul{
      display: none;
    }
    .nav > li > a{
      text-align: center;
      padding-left: 4px;
      padding-right: 4px;
      .nav-caret,
      .nav-text{
        display: none;
      }
      .nav-label{
        position: absolute;
        top: -6px;
        right: 6px;
      }
      .nav-icon{
        float: none;
        line-height: $aside-nav-folded-height;
        margin-left: 0;
        margin-right: 0;
        position: relative;
      }
    }
    &.show-text{
      .nav > li > a{
        .nav-text{
          display:block;
          margin-top: -18px;
          font-size: 0.85em;
        }
      }
    }
    .navbar{
      text-align: center;
      padding-left: 4px;
      padding-right: 4px;
    }
    .navbar-brand{
      float: none;
      margin: auto;
    }
    .nav-stacked{
      .nav{
        margin: 0 12px;
      }
    }
    .nav-fold{
      padding: 8px 16px;
      .pull-left{
        float: none !important;
        margin: 0;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
    .hide-scroll{
      overflow-y: inherit;
    }
  }
  .folded.nav-expand{
    @include transition(width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1));
    @include backface-visibility(hidden);
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    &:hover,
    &:focus,
    &.active{
      &,
      .scroll{
        width: $aside-width !important;
      }
      > *{
        width: $aside-width;
      }
      .hidden-folded{
        display: block;
      }
      .hidden-folded.inline{
        display: inline-block;
      }
      .nav li ul{
        display: inherit;
      }
      .nav > li > a{
        text-align: left;
        padding-left: 16px;
        padding-right: 16px;
        .nav-caret,
        .nav-text{
          display: block;
        }
        .nav-text{
          font-size: 1em;
          margin: 0;
        }
        .nav-label{
          position: static;
        }
        .nav-icon{
          float: left;
          line-height: inherit;
          margin-right: 16px;
        }
      }
      .navbar{
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .nav-stacked{
        .nav{
          margin: 0 8px;
          > li {
            > a{
              padding: 0 8px;
            }
          }
        }
      }
      .nav-fold{
        padding: 12px 16px;
        .pull-left{
          float: left !important;
          img{
            height: auto;
            &.w-40{
              width: 40px;
            }
            &.w-48{
              width: 48px;
            }
          }
        }
      }
    }
  }

  .nav-dropup,
  .folded.nav-dropdown{
    &.modal,
    [flex],
    .row-body{
      overflow: visible !important;
    }
    .nav > li {
      &:hover,
      &:focus{
        > ul {
          display: block;
        }
      }
      > ul {
        display: none;
        overflow: visible;
        max-height: 999px;
        color: $dark-white;
        background-color: $dark-black;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        position: absolute;
        left: 100%;
        top: 0;
        padding: 6px 0;
        a {
          padding-left: 16px !important;
          padding-right: 16px !important;
          min-width: 160px;
        }
        li.active ul {
          display: block;
        }
        .nav-text{
          padding: 6px 0 !important;
        }
      }
      .nav-mega{
        width: 320px;
        > li{
          width: 160px;
          float: left;
        }
        &.nav-mega-3{
          width: 480px;
        }
      }
    }
  }
}

.nav-border{
  .nav > li.active:after{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    border-left-color: inherit;
    border-left-width: 3px;
    border-left-style: solid;
  }
}

.nav-stacked{
  .nav{
    margin: 0 8px;
    > li {
      > a{
        line-height: $aside-nav-stacked-height;
        padding: 0 0.5rem;
        margin: 2px 0;
        .nav-text{
          padding: ($aside-nav-stacked-height - 1.125)/2 0;
        }
      }
      li {
        a {
          padding-left: 3rem;
        }
        li a{
          padding-left: 4rem;
        }
        li li a{
          padding-left: 5rem;
        }
      }
      &.active{
        > a{
          color: $dark-white;
          background-color: $primary;
        }
      }
    }
    li{
      a{
        border-radius: 3px;
      }
    }
    .nav-header{
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.nav-light{
  .nav{
    .nav-icon i svg,
    .nav-icon i img{
      display:block;
    }
  }
}

.nav-center{
  text-align: center;

  .nav-icon{
    display: none;
  }
  .nav-caret{
    position: absolute;
    right: 10px;
  }
  .nav-label{
    position: absolute;
    padding-left: 10px;
  }
  .nav a{
    padding-left: 16px !important;
  }
  .nav-fold .pull-left{
    float: none !important;
    margin-bottom: 10px;
    display: inline-block;
  }
}

@mixin active-variant($parent, $color) {
  .nav-active-#{$parent}{
    .nav-link.active,
    .nav > li.active > a{
      color: color-yiq($color);
      background-color: $color;
    }
  }
}

@include active-variant(bg, $body-bg);
@include active-variant(dark, $dark);
@include active-variant(black, $black);
@include active-variant(primary, $primary);
@include active-variant(accent, $accent);
@include active-variant(warn, $warn);
@include active-variant(success, $success);
@include active-variant(info, $info);
@include active-variant(warning, $warning);
@include active-variant(danger, $danger);
@include active-variant(light, $light);
@include active-variant(white, $white);

@include active-variant(red, $red);
@include active-variant(pink, $pink);
@include active-variant(purple, $purple);
@include active-variant(deep-purple, $deep-purple);
@include active-variant(indigo, $indigo);
@include active-variant(blue, $blue);
@include active-variant(light-blue, $light-blue);
@include active-variant(cyan, $cyan);
@include active-variant(teal, $teal);
@include active-variant(green, $green);
@include active-variant(light-green, $light-green);
@include active-variant(lime, $lime);
@include active-variant(yellow, $yellow);
@include active-variant(amber, $amber);
@include active-variant(orange, $orange);
@include active-variant(deep-orange, $deep-orange);
@include active-variant(brown, $brown);
@include active-variant(blue-grey, $blue-grey);
@include active-variant(grey, $grey);

