.padding{
  padding: 1.5rem 1.5rem;
}
.margin{
  margin-bottom: 1.5rem;
}

@include media-breakpoint-down(md) {
  .padding{
    padding: 1rem 1rem;
  }
  .margin{
    margin-bottom: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .padding{
    padding: 0.5rem 0.5rem;
  }
  .margin{
    margin-bottom: 0.5rem;
  }

}
