h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {

  > i.material-icons {
    color: $primary;
    margin-right: .4em;
    font-size: 1.6875em;
  }

  small {
    color: $gray-600;
    font-size: .75em;
    line-height: 1.75;
  }

  &.bordered {
    border-bottom: 1px solid $gray-200;
    padding-bottom: 1rem;
  }

}

h1, .h1 {
  color: $gray-600;
  font-weight: 700;
}

h2, .h2 {
  font-weight: 700;
  color: $gray-700;
}

h3, .h3 {

}

h4, .h4 {
  color: $primary;
  font-weight: 700;
}

.title-divider {
  border: 0;
  color: $primary;
  margin: 0 0 1rem 0;
  padding: 1rem 0 0 0;
  display: flex;
  align-items: center;

  h5 {
    opacity: 1;
    font-size: .9125rem;
    margin: 0;
  }

  &:after {
    display: block;
    height: 1px;
    content: "";
    flex-grow: 1;
    background-color: rgba($primary, .25);
    margin-left: 1rem;
  }

}

.text-muted {
  color: inherit !important;
  opacity: 0.6;
}