{% use "@UmbrellaAdmin/Menu/sidebar_block.html.twig" %}

<div class="left-side-menu">

    {% block logo %}
        {% include "@UmbrellaAdmin/Menu/logo.twig" %}
    {% endblock %}

    {% block sidemenu %}
        <div class="h-100" id="left-side-menu-container" data-simplebar>
            <ul class="metismenu side-nav" data-mount="Sidebar">
                {{ block('menu_widget') }}
            </ul>
            <div class="clearfix"></div>
        </div>
    {% endblock %}
</div>