{% use "@UmbrellaAdmin/Menu/sidebar_block.html.twig" %}

<div class="left-side-menu">

    {% include "@UmbrellaAdmin/Include/logo.html.twig" %}

    <div class="h-100" id="left-side-menu-container" data-simplebar>
        <ul class="metismenu side-nav" data-mount="Sidebar">
            {{ block('menu_widget') }}
        </ul>
        <div class="clearfix"></div>
    </div>
</div>