{% use "@UmbrellaAdmin/Menu/sidebar_layout.html.twig" %}

<div id="aside" class="app-aside nav-dropdown">
    <div class="left navside {{ sidebar_css_class() }}" data-layout="column">

        {# Logo #}
        <div class="navbar no-radius">
            <div class="navbar-brand">
                {% include "@UmbrellaAdmin/Include/brand.html.twig" %}
            </div>
        </div>

        {# Menu #}
        <div class="hide-scroll" data-flex>
            <nav class="scroll nav-light">

                <ul class="nav" ui-nav>
                    {% set node = menu.root %}
                    {{ block('node') }}

                </ul>
            </nav>
        </div>
    </div>
</div>
