{% use "@UmbrellaAdmin/Menu/sidebar_layout.html.twig" %}

<div class="left-side-menu">

    {% include "@UmbrellaAdmin/Include/logo.html.twig" %}

    <div class="h-100" id="left-side-menu-container" data-simplebar>
        <ul class="metismenu side-nav">
            {% set node = menu.root %}
            {{ block('node') }}
        </ul>
        <div class="clearfix"></div>
    </div>
</div>