.umbrella-fileupload {

  .input-container {
    flex: 1 1 0%;
    position: relative;
  }

  .input-hidden {
    .custom-file {
      opacity: 0;
      float: left;
      position: absolute;
      width: calc(100% - 80px);
    }

    .form-check {
      display: none;
    }
  }

  .action-container {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    height: 38px;
    line-height: 38px;
    margin-right: 16px;
  }

  .umbrella-download, .umbrella-remove {
    width: 16px;
    display: inline-block;
    cursor: pointer;
  }

  input[type="text"] {
    border-right: 0;
    text-overflow: ellipsis;
    padding-right: 60px;
  }

  input[readonly] {
    background-color: transparent;
  }
}