.umbrella-collection {
  table.table {
    th.required:after {
      content: " *";
      color: $danger;
    }

    thead th, thead td {
      border: 0;
    }

    tr td {
      vertical-align: middle;
    }
  }

  .sort-handle {
    text-align: center;
    cursor: pointer;
  }
}