.umbrella-fileupload {

  input[type="text"] {
    border-right: 0;
  }

  .btn.umbrella-remove {
    display: none;
    border: $input-border-width solid $input-border-color;
    border-left: 0;
    border-right: 0;
  }

  .btn.umbrella-download {
    border: $input-border-width solid $input-border-color;
    border-left: 0;
  }

}