@include media-breakpoint-up(lg) {
  .app-aside {
    opacity: 1;
    display: block !important;
    &,
    .scroll{
      width: $aside-width;
    }
    &.lg{
      &:not(.folded),
      &:not(.folded) .scroll{
        width: $aside-lg-width;
      }
      &:not(.hide) ~ .app-content{
        margin-left: $aside-lg-width;
      }
    }
    &.sm{
      &:not(.folded),
      &:not(.folded) .scroll{
        width: $aside-sm-width;
      }
      &:not(.hide) ~ .app-content{
        margin-left: $aside-sm-width;
      }
    }
    &.folded{
      width: $aside-folded-width;
      &:not(.hide) ~ .app-content{
        margin-left: $aside-folded-width;
      }
      &.md{
        width: $aside-folded-md-width;
        &:not(.hide) ~ .app-content{
          margin-left: $aside-folded-md-width;
        }
      }
    }
    &:not(.hide) ~ .app-content{
      margin-left: $aside-width;
    }
    .left{
      position: absolute;
      right: 0;
      @include translate3d(0, 0, 0);
    }
  }
  .hide-scroll{
    width: auto;
    margin-right: -17px;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
  }
}

@include media-breakpoint-down(md) {
  .app-aside {
    width: 100%;
    position: fixed;
    z-index: 1050;

    .left{
      position: fixed;
      width: 304px;
    }
  }
}

@media print {
  .app-aside {
    display: none;
  }
}

.app-aside {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
  position: fixed;
  z-index: 1030;
  float: left;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  outline: 0;

  i.material-icons {
    font-size: 18px;
    line-height: 1;
    vertical-align: -5px;
  }

  .navside {
    // padding-top: $topbar-height + 16px;
    display: flex;
    flex-direction: column;

    &.left {
      z-index: 1055;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }


    .nav-container {
      flex-grow: 1;
      background-size: contain;
      padding-top: 1rem;
    }

    .nav {
      li.active {
        .nav-icon {
          color: $primary;
        }

      }

    }

  }

  .navbar {
    height: $topbar-height;
    background-color: $gray-700;
    padding: .5rem;

    .navbar-brand {
      img {
        max-height: 100%;
        width: auto;
      }
    }

  }
}