.select2-container--bootstrap {

  .select2-selection {

    border-color: $input-border-color;
    padding: $input-padding-y $input-padding-x;

    @include box-shadow($input-box-shadow);

    @if $enable-rounded {
      border-radius: $border-radius;
    } @else {
      border-radius: 0;
    }

    &--single {
      line-height: $input-line-height;

      .select2-selection__placeholder {
        color: $input-placeholder-color;
      }

    }

    &--multiple {
      padding-top: 0;
    }

    &--single,
    &--multiple {
      min-height: $input-padding-y + $input-line-height;
    }

  }

  &.select2-container--focus,
  &.select2-container--open {

    .select2-selection {
      border-color: $input-focus-border-color;

      @if $enable-shadows {
        box-shadow: $input-box-shadow, $input-focus-box-shadow;
      } @else {
        box-shadow: $input-focus-box-shadow;
      }

    }

  }

  .select2-dropdown {
    border-color: $input-focus-border-color;

    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
      box-shadow: $input-focus-box-shadow;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: $primary;
    color: color-yiq($primary);
  }

}

// fix multiple select2 height
// @see https://github.com/select2/select2/issues/4756

.select2-container .select2-selection--multiple {
  height: auto!important;
  margin: 0;
  padding: 0;
  line-height:inherit;
}
.select2-container .select2-search--inline .select2-search__field {
  margin:0;
  padding:0;
  min-height:0;
}
.select2-container .select2-search--inline {
  line-height:inherit;
}


.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  margin-top: 5px;
}
