{#<div class="app-footer">#}
    {#<div class="p-2 text-xs">#}
        {#<div class="pull-right text-muted py-1">#}
            {#Version <strong>dev</strong>#}
            {#<a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>#}
        {#</div>#}
    {#</div>#}
{#</div>#}