<div class="topbar">

    {# mobile open menu #}
    <a data-toggle="modal" data-target="#aside" class="d-lg-none mr-3">
        <i class="material-icons">menu</i>
    </a>

    {% if breadcrumb is not defined %}
        {% set breadcrumb = menu_get_breadcrumb(sidebar_alias | default('admin_sidebar')) %}
    {% endif %}

    {{ breadcrumb_render(breadcrumb) }}

    <span class="ml-auto"></span>

    {% include 'UmbrellaAdminBundle:Include:userinfo.html.twig' %}
</div>