<div class="navbar-custom">
    <ul class="list-unstyled topbar-right-menu float-right mb-0">
        {% include "@UmbrellaAdmin/Notification/widget.html.twig" %}
        {% include "@UmbrellaAdmin/Include/userinfo.html.twig" %}
    </ul>

    <button class="button-menu-mobile open-left disable-btn">
        <i class="uil-list-ul">menu</i>
    </button>

    <div class="app-breadcrumb">
        {% if breadcrumb is not defined %}
            {% set breadcrumb = menu_get_breadcrumb(sidebar_alias | default('admin_sidebar')) %}
        {% endif %}
        {{ breadcrumb_render(breadcrumb) }}
    </div>

</div>